# Node
node_modules/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# LocalStack
localstack-data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Loki Data
loki-data/

# Localstack
localstack-data/

